Django==5.2.3
django-allauth==65.11.2
django-browser-reload==1.18.0
django-cors-headers==4.7.0
django-tailwind==4.0.1
django_celery_results==2.6.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.29.0
drf-spectacular-sidecar==2025.12.1
httpcore==1.0.9
httpx==0.28.1
pillow==10.4.0
pipx==1.7.1
pkginfo==1.12.1.2
psycopg2==2.9.11
PyGetWindow==0.0.9
PyJWT==2.10.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
RapidFuzz==3.13.0
redis==7.0.1
referencing==0.37.0
requests==2.32.4
uritemplate==4.2.0
urllib3==2.5.0
virtualenv==20.31.2
virtualenvwrapper-win==1.2.7
gunicorn
whitenoise



